/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Add accessible line-height */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

/* 4. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. Remove built-in form typography styles */
input,
button,
textarea,
label,
select {
  font: inherit;
}

/* 6. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 7. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

/*//////////////////////////////////// FONT-FAMILY ///////////////////////////////////////*/
/*//////////////////////////////////// BODY //////////////////////////////////////////////*/
body {
  z-index: 1;
  background-image: url("../../public/assets/imgs/bcg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
body p,
body a,
body label,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body th,
body tr {
  color: white;
}

.bcg-404 {
  background-image: url("../../public/assets/imgs/404.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*/////////////////////////////// RESPONSIVE MOBIL 360px ///////////////////////////////////////*/
:root {
  font-size: 16px;
}

/*//////////////////////////////////// ALERTS //////////////////////////////////////////////*/
/*//////////////////////////////////// HEADER ////////////////////////////////////////////*/
header a {
  font-weight: 900 !important;
}

/*//////////////////////////////////// MAIN //////////////////////////////////////////////*/
main {
  flex: 1;
}
main .opening-days-container,
main .register-container,
main .home-container,
main .login-container,
main .admin-container,
main .profil-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
main .opening-days-container form,
main .register-container form,
main .home-container form,
main .login-container form,
main .admin-container form,
main .profil-container form {
  display: flex;
  flex-direction: column;
}
main .opening-days-container form label,
main .opening-days-container form button,
main .register-container form label,
main .register-container form button,
main .home-container form label,
main .home-container form button,
main .login-container form label,
main .login-container form button,
main .admin-container form label,
main .admin-container form button,
main .profil-container form label,
main .profil-container form button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
}
main .opening-days-container form label,
main .opening-days-container form button,
main .register-container form label,
main .register-container form button,
main .home-container form label,
main .home-container form button,
main .login-container form label,
main .login-container form button,
main .admin-container form label,
main .admin-container form button,
main .profil-container form label,
main .profil-container form button {
  margin-top: 10px;
}
main .profil-container .btn-profil-container {
  margin: 20px 0;
}
main .profil-container .btn-profil-container button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
  margin-left: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
main .profil-container .my-reservation-container,
main .profil-container .my-profil-container {
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
main .profil-container .my-reservation-container {
  display: flex;
}
main .profil-container .my-reservation-container h2 {
  text-align: center;
  margin: 30px 0;
}
main .profil-container .my-reservation-container .cards-my-reservations-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}
main .profil-container .my-reservation-container .cards-my-reservations-container .cards-my-reservations {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  background-color: rgba(245, 245, 220, 0.158);
}
main .profil-container .my-profil-container {
  display: none;
}
main .profil-container .my-profil-container h2 {
  text-align: center;
}
main .profil-container .my-profil-container .my-profil-card {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  background-color: rgba(245, 245, 220, 0.158);
}
main .admin-container .btnAdmin-container button {
  margin-left: 5px;
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
main .admin-container .reservations-container,
main .admin-container .teams-container,
main .admin-container .assign-container {
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
main .admin-container .reservations-container h2,
main .admin-container .teams-container h2,
main .admin-container .assign-container h2 {
  margin: 20px 0;
}
main .admin-container .assign-container {
  display: none;
}
main .admin-container .reservations-container {
  display: none;
}
main .admin-container .reservations-container .reservation-with-teams-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}
main .admin-container .reservations-container .reservation-with-teams-container .cards-with-teams-container {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  width: 335px;
  height: max-content;
  background-color: rgba(245, 245, 220, 0.158);
}
main .admin-container .reservations-container .reservation-without-teams-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}
main .admin-container .reservations-container .reservation-without-teams-container .cards-without-teams-container {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  width: 335px;
  height: max-content;
  background-color: rgba(245, 245, 220, 0.158);
}

/*//////////////////////////////////// FOOTER ////////////////////////////////////////////*/
/*/////////////////////////////// RESPONSIVE TABLET //////////////////////////////////////*/
@media (min-width: 768px) {
  /*//////////////////////////////////// HEADER ////////////////////////////////////////////*/
  /*//////////////////////////////////// MAIN //////////////////////////////////////////////*/
  main .admin-container .reservations-container .reservation-without-teams-container,
  main .admin-container .reservations-container .reservation-with-teams-container {
    grid-template-columns: repeat(2, 1fr);
  }
  main .profil-container .my-reservation-container .cards-my-reservations-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /*//////////////////////////////////// FOOTER ////////////////////////////////////////////*/
}
/*/////////////////////////////// RESPONSIVE DESKTOP /////////////////////////////////////*/
@media (min-width: 1024px) {
  :root {
    font-size: 18px;
  }
  /*//////////////////////////////////// HEADER ////////////////////////////////////////////*/
  /*//////////////////////////////////// MAIN //////////////////////////////////////////////*/
  /*//////////////////////////////////// FOOTER ////////////////////////////////////////////*/
}

/*# sourceMappingURL=style.css.map */
